body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
.outer{
    background:url(Pimage/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    box-shadow: 5px 5px 10px white;
    transition: background 1.5s ease-in-out;
}

.p{
    font-size:1rem;
    font-weight:1000;
    position: relative;
}

.p-left{
    font-weight: bolder;
    background-color: white;
    width: fit-content;
    top: 46%;
    padding: 5px;
    left: -13px;
}

.p-left:hover{
    background-color: red;
    cursor: pointer;
}

.p-right{
    font-weight: bolder;
    background-color: white;
    width: fit-content;
    top: 37%;
    padding: 5px;
    left: 99%;
}

.p-right:hover{
    background-color: red;
    cursor: pointer;
}

